.dashboard-page-container {
  width: 100%;
  height: 100vh;

  .navbar-view {
    background-color: #04111E;
  }

  .export-btn {
    margin: 16px;
  }

  .table-view {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

    td, th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #EEEEEE;
      color: #111111;
    }

    .options {
      display: flex;
      flex-direction: row;

      .option-btn {
        background-color: transparent;
        color: #555555;
        padding: 5px;
        margin: 0 8px;
        border: none;

        &.delete {
          color: #ff0000;
        }
      }


    }
  }


}

.userdata-edit-modal {
  .modal-body {
    overflow: scroll;
    height: 75vh;
  }

  .form-container {
    background-color: rgba(255, 255, 255, 0.85);

    .heading4 {
      font-weight: bold;
      font-size: 22px;
      color: #555555;
      text-align: left;
      line-height: normal;
      margin-bottom: 8px;
    }

    .option-form {

    }

    .input-form {
      margin-top: 30px;

      .input-label {
        font-size: 18px;
      }

      .input-field {
        margin-bottom: 10px;
      }
    }


    .product-choose-form {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }

  .play-btn {
    font-weight: bold;
    text-transform: uppercase;
  }

  .input-error {
    width: 100%;
    font-size: 16px;
    color: #ff0000;
  }
}
