.dashboard-page-container {
  width: 100%;
  height: 100vh;

  .navbar-view {
    background-color: #04111E;
  }

  .export-btn {
    margin: 16px;
  }

  .table-view {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

    td, th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #EEEEEE;
      color: #111111;
    }

    .options {
      display: flex;
      flex-direction: row;

      .option-btn {
        background-color: transparent;
        color: #555555;
        padding: 5px;
        margin: 0 8px;
        border: none;

        &.delete {
          color: #ff0000;
        }
      }


    }
  }

}
